.dialog-container {
  padding: 1rem;

  .row {
    margin: 0.5rem 0;
    display: flex;
    gap: 1rem;

    mat-form-field {
      width: 100%;
    }
  }

  .action {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 0 1rem;
  }
}